.chat-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  width: 90%; /* Responsive width */
  max-width: 600px; /* Maximum width for chat window */
  margin: 5vh auto;
  background-color: #343541;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 300px) {
  .chat-app {
    height: 90vh;
    width: 100%; 
    margin-left: auto;
    max-width: 400px;
  }
}

@media (min-width: 300px)and (max-width: 500px){
  .chat-app{
    margin-right: 10%;
    margin-left: auto;
    height: 90vh;
    width: 60%;
  }
}

@media (min-width: 500px) {
  .chat-app {
    height: 90vh;
    width: 55%; 
    margin-left: auto;
    max-width: 550px;
  }
}

@media (min-width: 750px) {
  .chat-app {
    height: 90vh;
    width: 55%; 
    margin-left: auto;
    max-width: 600px;
  }
}

@media (min-width: 950px) {
  .chat-app {
    height: 90vh;
    width: 60%;
    max-width: 700px;
  }
}

/* For larger laptops and desktops (min-width: 1024px) */
@media (min-width: 1024px) {
  .chat-app {
    height: 95vh;
    width: 65%; /* Wider chat window for larger screens */
    max-width: 800px;
  }
}

/* For even larger screens (min-width: 1280px) */
@media (min-width: 1280px) {
  .chat-app {
    height: 95vh;
    width: 60%; /* Chat window occupies 60% of width on big screens */
    max-width: 800px;
  }
}