.chat-input-form {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #40414f;
  border-top: 1px solid #565869;
}

.chat-input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 8px;
  border: none;
  background-color: #555657;
  color: white;
  font-size: 1rem;
  transition: padding 0.3s ease, font-size 0.3s ease;
}

.chat-input::placeholder {
  color: #a0a0a0;
}

.send-button {
  background-color: #10a37f;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s, padding 0.3s ease, font-size 0.3s ease;
}

.send-button:hover {
  background-color: #0e8a6e;
}

/* Responsive styles for laptops and desktops */
@media (min-width: 750px) {
  .chat-input-form {
    padding: 15px 20px;
  }
  .chat-input {
    padding: 12px 15px;
    font-size: 1rem;
  }
  .send-button {
    padding: 12px 18px;
    font-size: 1rem;
  }
}

/* Responsive styles for tablets */
@media (max-width: 730px) {
  .chat-input-form {
    padding: 8px 13px;
  }
  .chat-input {
    padding: 9px 11px;
    font-size: 0.65rem;
  }
  .send-button {
    padding: 9px 15px;
    font-size: 0.65rem;
  }
}


/* Responsive styles for phones */
@media (max-width: 479px) {
  .chat-input-form {
    padding: 12px 15px;
    flex-direction: column;
    align-items: flex-start;
  }
  .chat-input {
    padding: 10px 12px;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  .send-button {
    padding: 10px 15px;
    font-size: 0.9rem;
    margin-left: 0;
  }
}